<!DOCTYPE html>
<html>
    <head>
        <title>ログイン</title>
    </head>
    <body>
        <form action="/login/index" method="POST">
            <table style="border-style: none;">
                <tr>
                    <td>ユーザID:</td>
                    <td><input type="text" name="userId"></input></td>
                </tr>
                <tr>
                    <td>パスワード:</td>
                    <td><input type="password" name="password"></input></td>
                </tr>
                <tr>
                    <td colspans="2"><input type="submit"></td>
                </tr>
            </table>
        </form>
    </body>
</html>
